@font-face {
    font-family: "Roboto Black";
    src: url("/assets/roboto_black.ttf");
}

body {
    font-family: "Roboto Black";
    background: #cbcbcb;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

img {
    margin: 0 auto;
    width: 300px;
    border-radius: 10px;
}