/*
    * === FONT FACES ===
*/

@font-face {
    font-family: "Roboto Regular";
    src: url("/assets/roboto_regular.ttf");
}

@font-face {
    font-family: "Roboto Black";
    src: url("/assets/roboto_black.ttf");
}

@font-face {
    font-family: "Roboto Condensed Regular";
    src: url("/assets/roboto_condensed_regular.ttf");
}

/*
    * === DEFAULTS ===
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;
    color: #ffffff;
    font-family: "Roboto Regular";
    background: linear-gradient(to right top, #ff000b, #cd0051, #7e0c65, #2f1e4e, #050d1c);
}

img {
    width: 100%;
    border-radius: 10px;
}

h6 {
    font-family: "Roboto Condensed Regular";
    font-weight: normal;
}

/*
    * === CLOSE BUTTON ===
*/

.closeBtn {
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    font-size: 2em;
    transition: color 0.2s ease-in-out;
}

.closeBtn:hover {
    color: #ff6961;
}

/*
    * === COUNTDOWN ===
*/

.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff44;
    font-size: 2em;
    opacity: 0;
}

.countdown p {
    font-size: 5em;
}

/*
    * === SIDEBAR ===
*/

.sidebar {
    position: fixed;
    height: 100%;
    background: #ffffff22;
    width: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

/* PROFILE ICON */
.sidebar img {
    margin-bottom: 20px;
}

/* KEYWORDS */
.sidebar .list p {
    margin: 20px 0;
    padding: 20px 0;
    border-radius: 10px;
    background: #ffffff22;
    transition: 0.2s ease-in-out;
    transition-property: background, transform;
}

.sidebar .list p:hover {
    background: #ffffff44;
    cursor: not-allowed;
    transform: scale(0.95);
}

/*
    * === MAIN ===
*/

main {
    position: relative;
    margin-left: 250px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.chat {
    padding: 50px;
    height: 100%;
    overflow-y: scroll;
}

.chat::-webkit-scrollbar {
    width: 5px;
}

.chat::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}
.chat::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ffffff22;
}

.message-wrapper {
    margin-bottom: 20px;
}

/* moves messages sent by user to the right. */
[data-side="right"] {
    text-align: right;
    position: relative;
}

.message-wrapper .message {
    margin-top: 5px;
    padding: 10px;
    display: inline-block;
    background: #ffffff22;
    border-radius: 10px;
    text-align: left;
    max-width: 50%;
}

.message-wrapper .sender {
    font-size: 0.8em;
    font-family: "Roboto Condensed Regular";
}

.message-wrapper .timestamp {
    color: #ffffff99;
}

.input-wrapper {
    position: relative;
    padding: 20px;
    background: #ffffff22;
    display: flex;
}

input {
    margin-right: 20px;
    padding: 20px;
    width: 100%;
    background: #ffffff22;
    border: none;
    color: #ffffff;
    outline: none;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    transition-property: background, color;
}

input::placeholder {
    color: #ffffff55;
    font-family: "Roboto Black";
}

input:focus {
    background: #ffffff33;
}

.input-wrapper button {
    background: #ffffff22;
    border: none;
    outline: none;
    padding: 20px;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transition-property: background, transform;
}

.input-wrapper button:hover {
    background: #ffffff44;
    transform: scale(0.95);
}